name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: test
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      postgres:
        image: postgres:13
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3
    strategy:
      matrix:
      
        haxe-version:
          - 4.0.5
          - 4.1.5
          - stable
          - nightly
        target: 
          - node
          - php
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'
      if: ${{ matrix.target == 'php' }}
    - run: php --version
      if: ${{ matrix.target == 'php' }}
    - run: npm i
    - run: npm run test ${{ matrix.target }}